* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.page{
  background-color: none;
  height: auto;
  min-height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 91vh;
}
.backimage{
  width: 100%;
  height:100vh;
  background-image: url("../Images/image234.webp");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0%;
}
.welcomemessage{
  width: 41.5%;
  position: absolute;
  top: 15%;
  left: 25%;
  font-size: large;
  color: rgb(26, 24, 24);
}
.welcomemessage h1 {
  animation: reveal 5s infinite ease;
  background-image: url("../Images/images.jpeg");
  background-size: cover;
  background-clip: text;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  font-style: italic;
  font-family: cursive;
  font-weight: bolder;
  color: transparent;
}

@keyframes reveal {
  to {
    width: 100%;
  }
}

.welcomebutton {
  margin-left: 10px;
  font-weight: bolder;
  padding: 5px;
  border-radius: 10px;
  border: none;
  width: 250px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #0c4bd2;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.welcomebutton:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.welcomebutton:active {
  color: #0c4bd2
}

.welcomebutton:active:after {
  background: transparent;
}

.welcomebutton:hover:before {
  opacity: 1;
}

.welcomebutton:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0c4bd2;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
.h1 {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.h1 h1 {
  color: aquamarine;
  background-color: rgb(0, 0, 0);
  height: 100px;
  width: 200px;
  border-radius: 20px;
  align-items: center;
  font-size: medium;
}

.text {
  margin-top: 0px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.alltext h1{
  font-weight: bold;
  font-size: 45px;
  text-align: center;
}

.container {
  width: 90%;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 15px;
  margin-top: 0px;
}

.cardcontainer {
  background-color: rgba(237, 231, 213, 0.674);
}

.cd1 { 
  height: 600px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 5px 10px 25px rgba(24, 24, 24, 0.731);
  transition: transform 0.5s ease;
}
.cd1:hover{
  transform: translateY(-5px);
}
.cdbody{
  height: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* .cdbody h5{
  font-size: clamp(14px, 2vw, 18px);
}
.cdbody p{
  font-size: clamp(12px, 1.5vw, 16px);
  line-height: 1.2;
} */
.list-group {
  margin-top: auto; 
}
.img1 {
  cursor: pointer;
  border-radius: 15px 15px 15px 15px;
}
.img5 {
  overflow: hidden;
  height: 280px;
  border-radius: 15px 15px 0 0;
}

.qntbutton {
  border: none;
  border-radius: 5px;
  padding: 8px;
  background-color: rgb(24, 24, 247);
  color: white;
}
.qntbutton:hover{
  background-color: rgb(20, 20, 207);
}
.addcart{ 
  color: white;
  text-align: center;
  /* cursor: pointer; */
  border-radius:0 0 15px 15px;
}

.button {
  color: #fff;
  font-size: 1.2rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: blue;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color:rgb(5, 5, 199);
    transition: all .3s;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
} 