.cnt{
    display: flex;
    justify-content: center; 
    gap: 50px;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.img{
    height: 300px;
    /* width: 200px; */
}

.img img{
    height: 100%;
}
