.container5{
    padding: 10px;
    width:95%;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(180, 220, 238, 0.959);
    color: rgb(17, 18, 19);
}

.fonttext{
    font-weight: bolder;
}

.size li{
    font-size: 17px;
}

.headerfont{
    font-weight: bolder;
}
