* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fullpage {
  width: 100%;
  height: auto;
  background-image: url("../Images/image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.productdata {
  width: 80%;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.producttable {
  width: 100%;
  border-collapse: collapse;
  background: white;
  overflow: hidden;
  border-radius: 8px;
}

.producttable thead tr {
  background-color: #007bff;
  color: white;
  text-align: left;
  font-weight: bold;
}

.producttable th,
.producttable td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.producttable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.allproducttext {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0;
}

.addbutton,
.controlbutton {
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.addbutton {
  color: #28a745;
  border: 1px solid green;
  background-color: rgba(255, 255, 255, 0.947);
  font-weight: bold;
}

.addbutton:hover {
  background-color: #218838;
}



.form {
  width: 100%;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  padding: 15px;
  border-radius: 8px 8px 0 0;
}

.card-header h3 {
  margin: 0;
  font-size: 20px;
}

.form-group,
.form-outline {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea.form-control {
  resize: vertical;
}

.dropdown select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.subbutton,
.cancelbutton {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.subbutton {
  border: 1px solid blue;
  color: blue;
  font-weight: bold;
}

.subbutton:hover {
  background-color: #007bff;
  color: white;
}
.cancelbutton {
  width: 15%;
  font-weight: bold;
  color: red;
  border: 1px solid red;
  margin-right: 5px;
}

.cancelbutton:hover {
  background-color: red;
  color: white;
}

.frm {
  width: 100%;
}
.editsvg{
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
}
.editsvg:hover{
  box-shadow: 1px 1px 10px blue;
}
.deletesvg{
  transition: all 0.5s ease-in-out;
  border-radius: 15px;
}
.deletesvg:hover{
  box-shadow: 1px 1px 10px red;
}