

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
  }
  
  .dark-theme {
    --bg-color: #1a1a1a;
    --text-color: #424040;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  